@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#main{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
    background-color: white;
    height:fit-content;
    margin-top:auto;
    margin-bottom:auto;
}

div{
    padding:1.5em;
}

label, button{
    margin:0.5em;
}

#header{
    height:5em;
    margin-bottom:3em;
    background-color: rgba(0, 125, 209, 0.217);
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid black;
}

h1{
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 450;
    font-size:3em;
    color:rgb(255, 255, 255);
}

button{
    background-color: rgb(0, 153, 255);
    color:white;
    border:none;
    padding:0.5em;
}

label, button, p, select{
    font-family: 'Rubik', sans-serif;
}

#body{
    position: absolute;
    width:100%;
    top:0;
    left:0;
    bottom:0;
    height:100%;
    padding:0;
    display:grid;
}

footer{
    color: white;
    background-color: rgba(0, 76, 127, 0.694);
    width:100%;
    margin-top:auto;
    text-align: center;
}

a, a:hover{
    color:white;
}

@media screen and (max-width: 850px) {
    #body h1{
        transform: scale(0.75);
    }
    #main{
        transform:translateX(2em);
    }
}

@media screen and (max-width: 580px) {
    #main{
        width: 100%;
        border-radius: 0;
        background-color: rgba(137, 137, 137, 0.887);
        transform:translateX(0em);
    }

    label, p{
        color:white;
    }
}

@media screen and (max-width: 500px) {
    #body h1{
        transform: scale(0.6);
    }
}

@media screen and (max-width: 450px) {
    #countries, #buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #buttons button{
        width:100%;
    }
}

@media screen and (max-width: 350px) {
    #howMany{
        width: 100%;
        text-align: center;
    }
}